<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE web-app
    PUBLIC "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
    "http://java.sun.com/dtd/web-app_2_3.dtd">

<web-app>

	<!-- Servlets -->

	<servlet>
		<servlet-name>controllerServlet</servlet-name>
		<servlet-class>kvv.controllers.server.ControllersServiceImpl</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>controllerServlet</servlet-name>
		<url-pattern>/controllers/controllers</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>configurationServlet</servlet-name>
		<servlet-class>kvv.controllers.server.ConfigurationServiceImpl</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>configurationServlet</servlet-name>
		<url-pattern>/controllers/configuration</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>unitServlet</servlet-name>
		<servlet-class>kvv.controllers.server.UnitServiceImpl</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>unitServlet</servlet-name>
		<url-pattern>/controllers/unit</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>scheduleServlet</servlet-name>
		<servlet-class>kvv.controllers.server.ScheduleServiceImpl</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>scheduleServlet</servlet-name>
		<url-pattern>/controllers/schedule</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>logServlet</servlet-name>
		<servlet-class>kvv.controllers.server.LogServiceImpl</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>logServlet</servlet-name>
		<url-pattern>/controllers/log</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>sourcesServlet</servlet-name>
		<servlet-class>kvv.controllers.server.SourcesServiceImpl</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>sourcesServlet</servlet-name>
		<url-pattern>/controllers/sources</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>uploadServlet</servlet-name>
		<servlet-class>kvv.controllers.server.UploadServlet</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>uploadServlet</servlet-name>
		<url-pattern>/controllers/upload</url-pattern>
	</servlet-mapping>

	<listener>
		<listener-class>
			kvv.controllers.server.ContextListener
    </listener-class>
	</listener>

	<!-- Default page to serve -->
	<welcome-file-list>
		<welcome-file>Controllers.html</welcome-file>
	</welcome-file-list>

</web-app>
