<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://java.sun.com/xml/ns/javaee 
              http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
         version="2.5"
         xmlns="http://java.sun.com/xml/ns/javaee">

  <!-- Servlets -->
  <servlet>
    <servlet-name>heliostatServlet</servlet-name>
    <servlet-class>kvv.heliostat.server.HeliostatServiceImpl</servlet-class>
  </servlet>
  
  <servlet-mapping>
    <servlet-name>heliostatServlet</servlet-name>
    <url-pattern>/heliostat/heliostat</url-pattern>
  </servlet-mapping>

  <servlet>
    <servlet-name>heliostatServletAux</servlet-name>
    <servlet-class>kvv.heliostat.server.HeliostatServiceAuxImpl</servlet-class>
  </servlet>
  
  <servlet-mapping>
    <servlet-name>heliostatServletAux</servlet-name>
    <url-pattern>/heliostat/heliostatAux</url-pattern>
  </servlet-mapping>

  <servlet>
    <servlet-name>loginServlet</servlet-name>
    <servlet-class>kvv.heliostat.server.LoginServiceImpl</servlet-class>
  </servlet>
  
  <servlet-mapping>
    <servlet-name>loginServlet</servlet-name>
    <url-pattern>/heliostat/login</url-pattern>
  </servlet-mapping>
  
  <!-- Default page to serve -->
  <welcome-file-list>
    <welcome-file>Heliostat.html</welcome-file>
  </welcome-file-list>

	<listener>
		<listener-class>
			kvv.heliostat.server.ContextListener
    	</listener-class>
	</listener>

</web-app>
