<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd"
	id="WebApp_ID" version="3.0">
	<servlet>
		<servlet-name>testServlet</servlet-name>
		<servlet-class>kvv.controllers.controller.TestServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>testServlet</servlet-name>
		<url-pattern>/test</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>PDUServlet</servlet-name>
		<servlet-class>kvv.controllers.controller.PDUServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>PDUServlet</servlet-name>
		<url-pattern>/PDU</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>DefaultServletOverride</servlet-name>
		<servlet-class>org.apache.catalina.servlets.DefaultServlet</servlet-class>
		<init-param>
			<param-name>listings</param-name>
			<param-value>true</param-value>
		</init-param>
		<load-on-startup>1</load-on-startup>
	</servlet>

	<servlet>
		<servlet-name>StatisticsServlet</servlet-name>
		<servlet-class>kvv.controllers.controller.StatisticsServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>StatisticsServlet</servlet-name>
		<url-pattern>/statistics</url-pattern>
	</servlet-mapping>

	<listener>
		<listener-class>kvv.controllers.controller.ContextListener</listener-class>
	</listener>
</web-app>